<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
        
        <h1> {{todo_item.name}}</h1>
        <p>
            <a href="{% url 'todo_list_update' todo_item.id %}">Update List</a>
        </p>
        <p>
            <a href="{% url 'todo_list_delete' todo_item.id %}">Delete List</a>
        </p>
        <h2> tasks</h2>

        <table>
            <thead>
                <th> Task</th>
                <th> Due Date</th>
            </thead>
            <tbody>
                {% for items in todo_item.items.all %}
                <tr>
                    <td> <a href="{% url "todo_item_update" todo_item.id %}">{{ items.task }}</a> </td>
                    <td> {{ items.due_date}}</td>
                </tr>
               
                {% endfor %}
            
            </tbody>


        </table>
        </div>


    </main>
    
</body>
</html>
